@import url(https://fonts.googleapis.com/css?family=Noto+Serif:400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,900);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
@import url(https://fonts.googleapis.com/css?family=Allan:400,700);

* {
	
}

body {
	background-color: white;
	margin: 0;
	font-size: 16px;
	}

title {
}

header {
}

nav {
width: 484px;
margin: 20px auto 15px;
margin-left: auto;
margin-right: auto;
}

aside {
}

div{

}

section {

}

article {
	width: 350px;
	background-color: white;
	margin:20px;
	height: 620px;
	float:left;

}

footer{

}

h1 {
	font-family: 'Allan', cursive;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;	
	padding-top: 20px;
	font-size: 2em;

}

h2 {
	width: 350px;
	background-color: white;
	margin:15px 0;
	font-size: 1.5em
}

h3 {
	
}

p {
	color:black;
	font-family: 'Noto Serif', serif;
	font-weight: 400;
	font-size: 1em;
	line-height:1.5em;

}


a{
	
}

hr {

}

img {
	width:350px;
}

.clearfix:after {
	height: 0;
	font-size: 0;
	visibility: hidden;
	content: ' ';
	display: block;
	clear: both;
 }

.navlinks {
	margin: 10px;
	color: black;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 8px;
	background-color: pink;
	text-align: center;
	text-decoration: none;
}

.navlinks:hover {
	background-color: white;
}

#post-wrap {
	width: 1200px;
	margin:auto;
}

.posttitle {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 900;
}
 

 #one {
 
 }

 #left {

 }

#center {

}

#right {

}


#wrapper {
	
}

#slogan {
	color: black;
}