@import url(https://fonts.googleapis.com/css?family=Noto+Serif:400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,900);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
@import url(https://fonts.googleapis.com/css?family=Allan:400,700);

* {
	
}

body {
	background-color: white;
	margin: 0;
	font-size: 16px;
	}

title {
}

header {
}

nav {
width: 100%;
margin: 2.5% auto 2%;
text-align:center;
}

aside {
}

div{

}

section {

}


footer{

}

h1 {
	font-family: 'Allan', cursive;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;	
	padding-top: 1%;
	font-size: 2em;

}

h2 {
	width: 100%;
	background-color: white;
	margin:3% 0;
	font-size: 1.5em
}

h3 {
	
}

p {
	color:black;
	font-family: 'Noto Serif', serif;
	font-weight: 400;
	font-size: 1em;
	line-height:1.5em;

}


a{
	
}

hr {

}

img {
	width:100%;
}

.clearfix:after {
	height: 0;
	font-size: 0;
	visibility: hidden;
	content: ' ';
	display: block;
	clear: both;
 }

.as
{
	width: 30%;
	background-color: white;
	margin:1%;
	
	height: 39em;
	float:left;
}

.navlinks {
	margin: 1%;
	color: white;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	letter-spacing: .125em;
	padding: .8%;
	background-color: pink;
	text-align: center;
	text-decoration: none;
}

.navlinks:hover {
	background-color: white;
	color: pink;
}


.posttitle {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	margin: 4% 0
}
 
 #post-wrap {
	width: 90%;
	margin-left: 7%;
	
}



 #left {

	border:.0625em black solid;
	padding: 2%;
	float: left;
	width: 30%;
 }

#center {

}

#right {
	
	border: .0625em black solid;
	padding: 2%;
	float: right;
	width: 62%

 }

#two_column	{


	border: .0625em black solid;
	padding: 2%;
}

}


#wrapper {
	
}

#slogan {
	color: black;
}

@media only screen and (max-width:786px) {
 .as {
 	width: 47%
 }
}

@media only screen and (max-width:600px) {
 .as {
 	width: 95%;
 	float: none;
 	margin: 4% 0;
 	height: 10%;
 }

@media only screen and (max-width:413px) {
 .navlinks {
 	margin: 1%;
	letter-spacing: .0625em;
	padding: 1%;
	}
}





