body {
	background-color: white;
	margin: 0;
}

header{

}

nav{
width: 158px
margin-left: auto;
margin-right: auto;

}

div{

}

section{

}

footer{

}

h1 {
color:black;
text-align: center;

}

h2 {

}

p {
	color:black;
}

ul{

}

a{
text-decoration: none;
}

hr{

}

img{

}

.navlinks {
	margin: 10px
	color: black;
}
 
#slogan {
	color: black;
}